.chart-container {
  width: 200px; 
  height: 400px;
  display: inline-block;
  margin: 10px;
}

::ng-deep .chartjs-legend ul {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: center !important;
  gap: 8px !important;
  padding: 0;
  margin: 0;
}

::ng-deep .chartjs-legend li {
  margin: 0 !important;
}